@{
    ViewData["Title"] = "Aution Gallery";
}

<div class="text-center">
    <h1 class="display-4">Auction Gallery</h1>
    <p>This project is going to be an Online Art Gallery</p>
    <p>It will allow users to create an account, post artwork and fellow users can place bids on each piece in attempts to purchase</p>
    <p>The site itself has models such as user, orders, orderitems, artwork etc and contains data relavent for each table</p>
    <p>The user table will hold usernames,passwords,emails, and personal info </p>
    <p>Check out the source code <a href="https://github.com/ATMurgan/ClassProject-Gallery.git">ATMurgan Github Assignment 2</a>.</p>
</div>
