@{
    ViewData["Title"] = "Footer";
}
<h1>@ViewData["Title"]</h1>

<p>Andrew Murgan </p>
<p>Student Number: 200589802</p>
<p>Course Name: Server Side Scripting ASP.NET</p>
<p>Course Code: COMP2084</p>
